[submodule "CIEngine/vendor/spdlog"]
	path = CIEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CIEngine/Vendor/Spdlog"]
	path = CIEngine/Vendor/Spdlog
	url = https://github.com/gabime/spdlog
